/*sdsdsd你好*/
body div a {border : 1px;}
body {padding: 12px}
body {padding: 19px}
body a{padding: 19px}
body div{padding: 19px}
body p{padding: 19px}
body span{padding: 19px}/*sdsdsd你好*/
body ul{padding: 19px}
body :hover{color: blue}
::selection{color: blue}
input[type="button"] {top:200px;}
span a {margin-top: 10px;}
.hello {border:1px;}
/*sdsdsd你好*/